
@model IEnumerable<BookingApp_v4.Entities.GymClass>

@{
    ViewData["Title"] = "Index";
}
@*Index sidan innehåller bara namnen på kolumnerna i tabellen och titeln. Själva resultatet finns i GymClassesPartial. Länken dit längre ner här*@
<h1>Index</h1>
<div id="createajax"></div>

<p>
    <a asp-action="Create" class="btn btn-danger">Create</a>

    @*<a asp-action="Create" class="btn btn-dark"
        data-ajax="true"
        data-ajax-method="GET"
        data-ajax-update="#createajax"
        data-ajax-mode="replace">Create Ajax</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="gymclasses">
        <partial name="GymClassesPartial" />
    </tbody>
</table>
